/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 677px;
    background-color: #2d25a0;
    margin-bottom: 50px;
}
.hero-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.header-text h1 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    margin-top: 207px;
    margin-left: 156px;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 27px;
}
.watch-btn {
    color: white;
    text-decoration: none;
    background-color: #e02c6d;
    padding: 10px 24px;
    margin-left: 156px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    transition: 0.5s all;
}
.fa-arrow-right {
    width: 24px;
    height: 24px;
    margin-left: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}
.watch-btn:hover {
    background-color: #953a5b;
}
.banner {
    width: 50%;
}
.banner-img img {
    width: 556.01px;
    height: 438px;
    margin-top: 153px;
    margin-right: 140.99px;
    margin-bottom: 86px;
    transition: 0.5s linear all;
}
.banner-img img:hover {
    transform: scale(1.2);
}
  /* player */
.meet-our-player-txt{
    text-align: center;
    margin: 24px 0;
    font-family: "Poppins", sans-serif;
    font-size: 44px;
    line-height: 44px;
    font-weight: bold; 
}
.player-container {
    width: 70%;
    display: grid;
    margin: 0 auto;
    cursor: pointer;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player {
    width: 420px;
    height: 500px;
    background-color: #ffffff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    border-radius: 10px;
    transition: transform 0.5s linear;
}
.player:hover{
    transform: scale(1.03);
}
.player img {
    margin: 0 auto;
    width: 100%;
    height: 256px;
    border-radius: 5px;
}
.player-name {
    color: #18191f;
    font-family: "Poppins", sans-serif;
    margin-top: 16px;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
}
.player-info {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 33px;
    text-align: justify;
}
hr {

    width: 50%;
    margin: 0 auto;
}
  /* download apps */
.download-apps {
    width: 100%;
    height: 80px;
    margin-top: 60px;
}
.download-apps h4 {
    text-align: center;
    margin: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.apps {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.apps-download-link img {
    width: 100px;
    height: 30px;
    margin: 10px;
}
  /* subscribe */
.subscribe {
    text-align: center;
    margin-top: 50px;
}
.subscribe-for-updates {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0 10px 0;
    font-weight: 900;
}
.subscribe input {
    height: 42px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 12px;
    font-size: 18px;
}
.subscribe-btn {
    text-align: center;
    font-family: "Poppins", sans-serif;
    background-color: #e02c6d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    transition: 0.5s all;
    cursor: pointer;
}
.subscribe-btn:hover {
    background-color: #953a5b;
}
/* contact form */
.control-form{
    margin-top: 20px;
}
.contact-form h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    color: tomato;
    border-bottom: 3px solid tomato;
    width: 100px;
}
.contact-form{
    display: grid;
    justify-content: center;
    margin: 10px;
}
.contact-form input {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}
.contact-form textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    resize: none;
}
.contact-form button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #ed6b4f;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
  /* footer */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.footer-logo img {
    height: 110px;
}
.social-icons {
    width: 170px;
    height: 32px;
}
.footer-logo a {
    text-decoration: none;
}
.social-icons a {
    width: 32px;
    height: 32px;
    font-size: 18px;
    margin-bottom: 20px;
}
.fab {
    color: #1f1f1f;
    margin: 0px 5px;
}
.fa-instagram:hover {
    color: #d5337d;
}
.fa-dribbble:hover {
    color: #e34a86;
}
.fa-youtube:hover {
    color: #fe0000;
}
.fa-twitter:hover {
    color: #1da1f2;
}
.copyright p {
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}
/* media query */
/* mobile */

@media screen and (max-width: 670px) {
.container {
    width: 100vw;
    height: 100vh;
}
.hero-section{
    width: 100%;
}
.header-text h1{
    margin-top: 80px;
    margin-left: 50px;
    font-size: 30px;
    line-height: 45px;
}
.hero-section{
    grid-template-columns: repeat(1, 1fr);
}
.watch-btn{
    margin-top: 10px;
    margin-left: 40px;
}
.banner-img img{
    width: 330px;
    height: 100%;
    margin: 50px 0 0 30px;
}
.banner-img:hover img{
    transform: scale(1.1);
}
.meet-our-player-txt{
    font-size: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
}
.player{
    width: 100%;
}
.contact-form{
    width: 90%;
    margin: 0 auto;
}
.footer-logo img{
    width: 70%;
    height: 50px;
}
}
